<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type="text/css" href="{{ url_for('static', path='/css/style.css') }}" rel="stylesheet">
    <script src="https://unpkg.com/htmx.org@1.9.9" integrity="sha384-QFjmbokDn2DjBjq+fM+8LUIVrAgqcNW2s0PjAxHETgRn9l4fvX31ZxDxvwQnyMOX" crossorigin="anonymous"></script>
    <title>Document</title>
</head>
<body>
    <h1>Hello!</h1>
    {% if DEBUG %}
        {{ hot_reload.script(url_for('hot-reload')) | safe }}
    {% endif %}
</body>
</html>